In [16]:
import scipy.stats as stats
import pandas as pd

df = pd.read_csv('kickstarter.csv')
df = df[df.status.isin(['failed', 'successful'])]
df['success'] = df.status == 'successful'

In [23]:
pd.crosstab(df.status, df.category)

category,Art,Comics,Dance,Design,Fashion,Film & Video,Film &amp; Video,Food,Games,Music,Photography,Publishing,Technology,Theater
status,,,,,,,,,,,,,,
failed,1585,448,180,837,684,210,5962,643,832,3261,742,2484,448,680
successful,2106,520,527,729,335,246,6177,655,635,6792,645,1671,289,1642

In [28]:
ctab = pd.crosstab(df.status, df.category)
chi2_stat, p, degf, (observed, expected) = stats.chi2_contingency(ctab)

chi2_stat

1889.1345627766664

In [29]:
p

0.0

In [25]:
df.groupby('category').success.mean().sort_values()

category
Fashion             0.328754
Technology          0.392130
Publishing          0.402166
Games               0.432856
Photography         0.465032
Design              0.465517
Food                0.504622
Film &amp; Video    0.508856
Comics              0.537190
Film & Video        0.539474
Art                 0.570577
Music               0.675619
Theater             0.707149
Dance               0.745403
Name: success, dtype: float64